.footer {
  background-color: #2563eb;
  color:white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 60px;
}

/* Optional fixed footer for dashboards */
.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 220px; /* leave space for sidebar */
  width: calc(100% - 220px);
  z-index: 10;
}
