.timer {
  font-weight: bold;
  color: #007bff;
  margin-left: 10px;
}

.completed {
  color: #6c757d;
  text-decoration: line-through;
}

.task-btn {
  margin-left: 10px;
  color: #fff;
  background: #28a745;
  padding: 2px 6px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-btn {
  background: #ffc107;
  color: #000;
}

.custom-time {
  width: 50px;
  border-radius: 5px;
  padding: 2px;
  margin-left: 10px;
}

.desc-text {
  color: #444;
  margin-left: 10px;
  font-style: italic;
}

.success-msg {
  color: green;
  margin-top: 10px;
}
